@import "../../../base.scss";

.selectable-item {
    padding-left: 20px;
    
    .checkbox {
        display: none;

        &~label {
            position: relative;
            font-size: 18px;
            color: $grey;
            margin-left: 22px;
            cursor: pointer;
        }

        &~label::before {
            display: block;
            width: 14px;
            height: 14px;
            border: 2px solid $grey;
            content: "";
            position: absolute;
            bottom: 2px;
            left: -22px;
            transition: 0.3s ease-in;
        }

        &:checked~label::before {
            transform: rotate(-45deg) translate(2px, -6px);
            border-bottom-color: $brown;
            border-left-color: $brown;
            border-top: none;
            border-right: none;
        }

        &:checked~label {
            color: $brown;
        }

    }
}