.expandable {

    margin-bottom: 10px; 
    text-align: center;

    .message {
        font-size: 0.5rem;
    }

    &-shown {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-hidden {
        display: none;
    }

    .checkmark {
        transform: translateX(10px) rotate(90deg);
    }
}

.expanded>.checkmark {
    transform: translateY(6px) rotate(-90deg);
}