@import "../../../base.scss";

.btn {
    cursor: pointer;
    display: block;
    text-transform: uppercase;
    padding: 1.5em 0;
    width: 100%;
    color: white;
    border: none;
    outline: none;
    text-align: center;
    font-weight: 600;
    background: linear-gradient( rgba(255, 255, 255, .5), rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)) no-repeat -250% 0%;
    background-size: 70% 100%;

    &-blink {
        animation: blink 1s linear infinite;
    }

    @keyframes blink {
        from {
            background-position: -200% 0%;
        }

        to {
            background-position: 400% 0%;
        }
    }

    &-disabled {
        background-color: $light-grey !important;
    }

    &-green {
        background-color: $turquoise;
    }

    &-yellow {
        background-color: $brown;
    }
}