@import "../../../base.scss";

.btn {
    cursor: pointer;
    display: block;
    text-transform: uppercase;
    padding: 0.75em 0;
    width: 100%;
    color: white;
    border: none;
    outline: none;
    text-align: center;
    transform: translate(2px, 2px);
    background: linear-gradient(-75deg, rgba(255, 255, 255, .0), rgba(255, 255, 255, .1), rgba(255, 255, 255, .0)) no-repeat -2em 0%;
    background-size: 3em 100%;

    &-blink {
        animation: blink 0.5s linear infinite;
    }

    @keyframes blink {
        from {
            background-position: -2em 0%;
        }

        to {
            background-position: 130% 0%;
        }
    }

    &-disabled {
        background-color: $light-grey !important;
    }

    &-green {
        background-color: $turquoise;
    }

    &-yellow {
        background-color: $brown;
    }
}