@import "../../../base.scss";

.multi-range {
    height: calc(0.75em + 18px);
    padding: 0 1.4em 1em 1.4em;

    div {
        position: relative;
        height: 100%;
        width: 100%;

        ::after {
            display: block;
            content: "";
        }
    }

    .unselected {
        position: absolute;
        height: 1em;
        background-color: white;
        background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)) no-repeat center;
        background-size: 100% 2px;
        z-index: 100;
    }

    input[type=range] {
        position: absolute;
        appearance: none;
        display: block;
        width: 100%;
        margin: 0;
        height: 1em;
        overflow: hidden;
        border: none;
        outline: none;
        background: linear-gradient($light-brown, $light-brown) no-repeat center;
        background-size: 100% 2px;
        pointer-events: none;
        font: inherit;

        &:active,
        &:focus {
            outline: none;
        }

        &::-webkit-slider-thumb {
            position: relative;
            height: 12px;
            width: 12px;
            border-radius: 50%;
            background-color: $light-brown;
            margin: 5px 0;
            cursor: pointer;
            appearance: none;
            pointer-events: all;
            z-index: 110;
        }
    }

    .slider-hint {
        position: absolute;
        top: 25px;
        font-size: 0.75em;
        color: rgba(222, 170, 93, 1);
    }
}