@import "../../../base.scss";

.mutual-matches {
    .match-wrapper {
        border-bottom: 1px solid $grey;
        margin-bottom: 25px;
        padding-bottom: 10px;
    }

    .expandable-shown {
        display: block;
    }
}