@import "../../../base.scss";

.settings-item {
    width: 100%;

    &.bordered {
        border-bottom: 1px solid $grey;
    }

    &-header {
        position: relative;
        padding: 22px 0;
        cursor: pointer;
    }

    &-checkmark {
        position: absolute;
        right: 20px;
        top: 35px;
        transition: 0.3s linear;

        &-expanded {
            transform: translate(10px, -20px) rotate(90deg);
        }
    }

    &-content {
        display: none;
        padding-bottom: 35px; 

        &-expanded {
            display: block;
        }
    }
}