.password-reset {
    margin: 0 auto;
    padding: 20px;
    width: 300px;
    box-sizing: border-box;
    background: white;
    position: relative;
    padding-bottom: 60px !important;

    &-hint {
        display: block;
        font-style: italic;
        margin-bottom: 20px;
    }

    .submit {
        position: absolute;
        bottom: -15px;
        right: -10px;
        width: auto;
        padding: 15px 35px;
    }
}


@media screen and (max-width: 370px) {
    .password-reset {
        width: 80%;
    }
}