.dropdown-wrapper {
    position: relative;
}

.autocomplete-dropdown-container {
    position: absolute;
    color: rgb(88, 88, 88);
    background: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
    width: 100%;

    .suggestion-item {
        margin: 15px 0;

        &.active {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
}