@import "../../../base.scss";

.input {
    display: block;
    border: none;
    outline: none;
    padding: 10 0;
    font-size: 1em;
    border-bottom: 1px solid $light-grey;
    width: 100%;

    &-wrapper {
        display: block;
        position: relative;
        padding: 0;
        padding-top: 1em;
        width: 100%;
    }

    &:focus {
        border-color: $brown;
    }
}

.error .input {
    font-size: 1em;
    border-bottom-color: $red !important;
}

.error-description {
    width: 100%;
    color: $red;
    font-size: 0.8em;
}

.label-info {
    position: absolute;
    left: 0;
    top: 1.25em;
    transition: 0.3s linear;
    text-transform: capitalize;
    color: $light-grey;
}

.input:focus~.label-info,
.filled {
    top: 0;
    right: 0;
    left: auto;
    font-size: 0.75em;
    color: rgba(222, 170, 93, 1);
}

.error .input:focus~.label-info,
.error .filled {
    color: $red;
}