.help-form {

    padding: 15px;

    span {
        display: block;
        font-style: italic;
        margin-bottom: 25px;
    }

    &-input {
        margin-bottom: 10px;
    }

    textarea {
        width: 100%;
        padding: 0;
        height: 200px;
    }

    label {
        display: block;
        margin-top: 20px;
        margin-bottom: 5px;
    }

    .submit {
        margin-top: 10px;
    }
}