@import "../../../base.scss";

.popup {

    position: relative;
    background: white;
    padding: 35px;
    padding-top: 55px;
    &-close {
        position: absolute;
        top: 10px;
        right: 5px;
        cursor: pointer;

        &:hover .popup-close-line {
            stroke: rgba(225, 225, 225, 1);
        }

        &-line {
            stroke-width: 2px;
            stroke: rgba(225, 225, 225, 0.5);
        }
    }
}