@import "../../../base.scss";

.textarea {
    position: relative;
    padding-top: 1.2rem !important;

    &-length-counter {
        position: absolute;
        right: 0px;
        top: 0px;
        color: $grey;
    }

    textarea {
        display: block;
        height: 100%;
        width: 100%;
        resize: none;
    }
}