@import "../../../base.scss";

.avatar-loader {
    &-drop-zone {
        position: relative;
        width: 250px;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $grey;

        .add-photo-icon {
            position: absolute;
            left: 10px;
            bottom: 10px;
        }
    }

    &-scale {
        margin: 15px 0;
        display: block;
        -webkit-appearance: none;
        width: 100%;
        height: 5px;
        background: $turquoise;
        outline: none;
        border-radius: 5px;


        &::-webkit-slider-thumb {
            appearance: none;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: $turquoise;
            cursor: pointer;
            z-index: 100;
        }

        &::-moz-range-thumb {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: $turquoise;
            cursor: pointer;
            z-index: 100;
        }

        &-selected {
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 5px;
            ;
            background: $turquoise;
            height: 15px;
        }
    }

    &-actions {
        display: flex;
        justify-content: space-around;

        svg {
            margin: 15px;
            cursor: pointer;
        }

        &-delete {
            stroke: $grey;

            &.active {
                stroke: $red;
            }
        }
    }

    &-delete-icon {}
}