.nav-icon {
    margin-right: 10px;
}

.nav-link,
.nav-link:active,
.nav-link:hover {
    display: block;
    text-decoration: none !important;
    font-size: 19px;
    color: rgb(0, 0, 0);
    position: relative;
    padding: 22px 25px 22px 0;
    border-bottom: 1px solid rgb(234, 234, 234);
}

.proceed {
    position: absolute;
    right: 0px;
}

.nav-link-active {
    border-color: rgba(222, 170, 93, 1);
    color: rgba(222, 170, 93, 1);
}

.nav-link-active .nav-icon {
    stroke: rgba(222, 170, 93, 1) !important;
}