@import "../../../base.scss";

.ad {
    background-color: rgb(255, 255, 255);
    flex-grow: 1;

    &-header {
        padding-bottom: 15px;
    }

    &-toggler {
        margin: 0 15px;
        display: flex;
    }

    hr {
        border-top: none;
        border-left: none;
        border-right: none;
        border-width: 1px;
        border-color: $light-grey;
    }

    &-google-map-wrapper {
        display: none;
        width: 100%;
        height: 50vh;
        margin-top: 15px;
    }

    &-preferences {
        display: flex;
        width: 290px;
        justify-content: space-between;
        margin: 0 auto;
    }

    &-geo {
        min-height: 150px;
        margin: 0 15px;
    }

    &-age-select {
        display: flex;
        justify-content: space-around;
        padding-top: 5px;
        background: linear-gradient(to bottom, transparent 2px, rgba(234, 234, 234, 0.5) 2px, rgba(234, 234, 234, 0.5) 30px, transparent 30px);
    }

    &-room-type {
        margin-bottom: 10px;
        margin-left: 20px;
    }

    .add-conv {
        width: 100%;
        margin-left: 20px;
        box-sizing: border-box;
        >div {
            margin-bottom: 10px;
        }
    }

    &-price {
        text-align: center;
    }

    &-add-info {
        display: block;
        margin: 10px auto;
        padding: 0;
        width: 90vw;
        height: 90px;
    }
}

.hint {
    display: block;
    font-size: 14px;
    text-align: center;
    margin: 14px 0;
}