@import "../../../base.scss";

.ad {
    background-color: rgb(255, 255, 255);
    flex-grow: 1;

    &-header {
        padding-bottom: 15px;
    }

    &-toggler {
        margin: 0 15px;
        display: flex;
    }

    hr {
        border-top: none;
        border-left: none;
        border-right: none;
        border-width: 1px;
        border-color: $light-grey;
    }

    &-google-map-wrapper {
        display: none;
        width: 100%;
        height: 50vh;
        margin-top: 15px;
    }

    &-preferences {
        display: flex;
        width: 290px;
        justify-content: space-between;
        margin: 0 15px 15px 20px;
    }

    &-geo {
        min-height: 150px;
        margin: 0 15px;
    }

    &-age-select {
        display: flex;
        justify-content: space-around;
        padding-top: 5px;
        background: linear-gradient(to bottom, transparent 2px, rgba(234, 234, 234, 0.5) 2px, rgba(234, 234, 234, 0.5) 30px, transparent 30px);
    }

    &-rent-period {
        text-align: center;

        >div {
            display: flex;
            margin-top: 20px;
            justify-content: space-around;

            >div {
                margin: 0 10px;
                width: 140px;
            }
        }
        &-input {
            height: 30px;
        }
    }
}

.map-expanded {
    display: block;
}

.map-expander {
    margin: 20px 0;
    text-align: center;
    font-size: 0.5em;
    cursor: pointer;
    vertical-align: text-bottom;

    >div {
        display: inline-block;
        margin-left: 10px;
        transition: 0.3s linear;
    }
}

.expander-expanded {
    transform: rotate(90deg) translateX(-5px);
}

.hint {
    display: block;
    font-size: 14px;
    text-align: center;
    margin: 14px 0;
}