@import "../../base.scss";

.match {
    padding: 15px;
    padding-right: 60px;
    box-sizing: border-box;
    width: 100%;

    &-header {
        display: flex;
    }

    section {
        margin-bottom: 30px;
    }

    header {
        margin-bottom: 10px;
    }

    &-avatar {
        border-radius: 50%;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
        flex-grow: 0;
        background: $grey;
    }

    &-main-info {
        flex-grow: 1;
        padding-left: 15px;

        h3 {
            font-weight: bold;
            margin-bottom: 10px;
        }

        .attitude {
            margin-top: 10px;

            &-item {
                padding: 5px;
            }

            .neutral {
                background-color: $brown;
            }

            .bad {
                background-color: $red;
            }

            .good {
                background-color: $green;
            }
        }
    }

    &-menu {
        position: fixed;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    &-skip,
    &-like {
        display: block;
        width: 60px;
        height: 105px;
        margin-top: 10px;
        cursor: pointer;
    }

    &-skip {
        position: relative;
        background: rgba($turquoise, .1);

        .checkmark {
            position: absolute;
            top: 60px;
            left: 10%;
            transform: scale(1.5);

            &::before,
            &::after {
                background: $turquoise !important;
            }
        }
    }

    &-skip:active {
        background-color: rgba($turquoise, .5);
    }

    &-like {
        background: url("../../assets/matching/heart-solid.svg") no-repeat 50% 50%;
        background-color: rgba($brown, .1);
    }

    &-like:active {
        background-color: rgba($brown, .5);
    }

    &-user-info {
        clear: both;
        margin-top: 15px;

        &-interests {
            display: flex;
            margin-top: 15px;

            >div {
                margin-right: 10px;
            }
        }
    }

    &-description {
        margin-top: 10px;
        border: 1px solid $grey;
        border-radius: 5px;
        width: 230px;
        min-height: 130px;
    }

    .rent-pay {
        display: block;
        margin-bottom: 10px;
    }

    &-room-type {
        span {
            display: block;
            margin-bottom: 5px;
        }
    }
}