.create-ad {
    background-color: rgb(255, 255, 255);
    padding: 15px;
    flex-grow: 1;
    font-size: 20px;
}

.create-ad-header {
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(234, 234, 234, 1);
    margin-bottom: 15px;
}

.create-ad-toggler {
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-ad-toggler>div {
    flex-grow: 1;
}

