.create-ad {
    background-color: rgb(255, 255, 255);
    padding: 15px;
    flex-grow: 1;
    font-size: 20px;
}

.create-ad-header {
    padding-bottom: 15px;
}

.create-ad-toggler {
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-ad-toggler>div {
    flex-grow: 1;
}


.geo-region-input {
    margin: 25px 0;
}

.create-ad-google-map-wrapper {
    display: none;
    width: 100%;
    height: 50vh;
    margin-top: 15px;
}

.map-expanded {
    display: block;
}

.map-expander {
    margin: 20px 0;
    text-align: center;
    font-size: 0.5em;
    cursor: pointer;
    vertical-align: text-bottom;
}

.map-expander > div {
    display: inline-block;
    margin-left: 10px;
    transition: 0.3s linear;
}

.expander-expanded {
    transform: rotate(90deg) translateX(-5px);
}

.hint {
    display: block;
    font-size: 14px;
    text-align: center;
    margin: 14px 0;
}

.create-ad-preferences {
    display: flex;
    justify-content: center;
    font-size: 48px;
}