.logo {
    position: relative;
    width: 180px;
    height: 24px;
    text-align: center;
}

.logo-dash {
    position: absolute;
    bottom: 13px;
    display: block;
    width: 21px;
    height: 1px;
    background-color: rgba(54, 122, 122, 1);
}

.logo-dash-left {
    left: 0;
}

.logo-dash-right {
    right: 0;
}

.logo-text {
    text-transform: uppercase;
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-shadow: -1px -1px 0 rgba(54, 122, 122, 1),
        1px -1px 0 rgba(54, 122, 122, 1),
        -1px 1px 0 rgba(54, 122, 122, 1),
        1px 1px 0 rgba(54, 122, 122, 1);
}