.toggler {
    width: 30px;
    height: 10px;
    padding-top: 7px;
}

.toggler-icon::before,
.toggler-icon::after,
.toggler-icon {
    display: block;
    height: 2px;
    width: 30px;
    background: #367A7A;
}

.toggler-icon::before,
.toggler-icon::after {
    content: "";
    transition: 0.3s linear;
}

.toggler-icon::before {
    transform: translateY(-6px);
}

.toggler-icon::after {
    transform: translateY(4px);
}

.toggler-icon-expanded {
    visibility: hidden;
}

.toggler-icon-expanded:before,
.toggler-icon-expanded:after {
    visibility: visible;
    transform-origin: center;
}

.toggler-icon-expanded:before {
    transform: translateY(0px) rotate(45deg);
}

.toggler-icon-expanded:after {
    transform: translateY(-2px) rotate(-45deg);
}