.main-header {
    height: 50px;
}

.main-header::after {
    display: block;
    content: "";
}

.main-content {
    clear: both;
    display: flex;
    min-height: calc(100vh - 50px);
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 800px) {
    .main-header {
        height: 0;
    }

    .main-content {
        margin-left: 250px;
        min-height: 100vh;
        margin-top: 0;

        >div {
            width: 450px;
            flex-grow: 0;
            margin: 0 auto;
        }
    }
}

@media screen and (min-width: 500px) {
    .main-content {
        min-height: 100vh;
        background: linear-gradient(to right, rgb(247, 247, 247), white, rgb(247, 247, 247)) no-repeat;

        >div {
            padding: 0 100px;
            width: 450px;
            flex-grow: 0;
            margin: 0 auto;
        }

        .registration-form-wrapper,
        .login-form-wrapper {
            height: 35%;
            margin-top: 300px;
        }
    }
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}