$dark: rgba(44, 59, 77, 1);
$grey: rgba(175, 175, 175, 1);
$light-grey: rgb(212, 211, 211);
$light: rgba(245, 254, 255, 1);
$light-green: rgba(196, 235, 239, 1);
$turquoise: rgba(67, 164, 174, 1);
$light-brown: rgba(244, 197, 127, 1);
$brown: rgba(222, 170, 93, 1);
$dark-brown: rgba(196, 156, 97, 1);
$green: rgba(171, 188, 95, 1);
$red: rgba(211, 100, 65, 1);

.error-msg {
    color: $red;
}