@import "../../../base.scss";

.number-input {
    display: block;
    text-align: center;
    background: linear-gradient(to bottom, transparent 15px, rgba(234, 234, 234, 0.5) 15px, rgba(234, 234, 234, 0.5) 50px, transparent 50px);

    .input-wrapper {
        display: flex;
        justify-content: space-around;
    }

    &-up,
    &-down {
        display: block;
        text-align: center;
        cursor: pointer;
    }

    &-up {
        margin-left: 15px;
        transform: rotate(90deg);
    }

    &-down {
        margin-right: 15px;
        transform: rotate(-90deg);
    }

    label {
        font-size: 0.8rem;
        display: inline-block;
        transform: translateY(-7px);
    }

    input {
        border: none;
        border-bottom: 1px solid $grey;
        outline: none;
        font-size: 1.2rem;
        text-align: center;
        background: transparent;
        display: inline-block;
        margin-bottom: 10px;

        &:focus {
            border-color: $brown;
        }

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}

.arrow:active {
    fill: $turquoise;
}