@import "../../../base.scss";

.number-input {
    display: inline-block;
    text-align: center;

    &-up,
    &-down {
        display: inline-block;
        text-align: center;
        cursor: pointer;
    }

    &-up {
        margin-left: 15px;
        transform: rotate(90deg);
    }

    &-down {
        margin-right: 15px;
        transform: rotate(-90deg);
    }

    label {
        font-size: 20px;
        display: inline-block;
        transform: translateY(-7px);
    }

    input {
        border: none;
        border-bottom: 1px solid $grey;
        outline: none;
        text-align: center;
        background: transparent;
        display: inline-block;
        margin-bottom: 10px;

        &:focus {
            border-color: $brown;
        }

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}

.arrow:active {
    fill: $turquoise;
}