.modal-nav {
    float: left;
    z-index: 10000;
}

.modal-expanded {
    position: fixed;
    transition: 0.3s ease-in-out;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
}

.nav-container {
    position: relative;
    cursor: pointer;
    padding-top: 33px;
    padding-left: 23px;
    padding-right: 13px;
}

.nav-container::after {
    display: block;
    content: ""
}

.nav-container-expanded {
    display: flex;
    flex-flow: column;
    transition: 0.3s ease-in-out;
    width: 300px;
    height: 100%;
    box-sizing: border-box;
    background: rgb(255, 255, 255);
}

.nav-header {}

.nav-toggler {
    float: right;
}

.nav-hidding-area {
    display: none;
    flex-grow: 1;
}

.modal-expanded .nav-hidding-area {
    display: block;
    padding-top: 35px;
    margin-right: 15px;
}


.navbar {
    transition: 0.3s ease-in-out;
    width: 0;
    overflow-x: hidden;
}

.navbar-expanded {
    padding-top: 35px;
    width: auto;
}

.nav-footer {
    position: absolute;
    bottom: 26px;
    color: rgb(175, 175, 175);
    font-size: 14px;
    text-align: center;
}

.navbar-expanded .nav-logo {
    position: absolute;
    top: 37px;
    left: 20px;
}

.nav-footer div {
    margin-top: 14px;
}

.nav-footer-icon {
    margin-left: 5px;
}