@import "../../../base.scss";


.nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 50px;

    &-toggler {
        position: absolute;
        top: 20px;
        right: 20px;

    }

    &-content {
        overflow: hidden;
        background: white;
        width: 100vw;
        box-sizing: border-box;
        padding: 0 15px;
        transition: max-height 0.3s ease-in;
        max-height: 0;

        nav {
            padding-top: 100px;
        }

        &-expanded {
            height: 100vh;
            max-height: 100vh;
        }
    }



    &-footer {
        cursor: pointer;
        margin-top: 50px;
        margin-bottom: 50px;
        color: $grey;
        width: 100%;

        >div {
            text-align: center;
        }

        &-icon {
            margin-left: 5px;
        }
    }

    @media screen and (min-width: 800px) {
        &-toggler {
            display: none;
        }

        & {
            width: 350px;
            height: 100vh;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
        }

        &-content {
            width: 350px;
            height: 100vh;
            max-height: 100vh;
            margin: 0 auto;

            .checkmark {
                display: none;
            }
        }
    }
}