.settings-page {
    flex-grow: 1;
    align-self: stretch;
    padding: 35px;
    padding-top: 50px;

    &-submit-button {
        margin-top: 10px;
    }

    .hint {
        display: block;
        margin-bottom: 10px; 
    }

    .notification-freq {
        margin: 10px 0;
    }
}