@import "../../base.scss";

.registration-form {
    &-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: rgba(255, 255, 255, 1);
        padding-bottom: 3rem;

        form {
            margin: 0 auto;
            width: 250px;
        }
    }

    &-success-msg {
        padding: 1em;
    }

    &-submit-btn {
        position: absolute;
        bottom: -5px;
        right: -5px;
        width: auto;
        padding: 10px;
    }
}